{% for item in site.data.nav %}
  	{% if item.subcategories != null  %} 
  		{% for subcategory in item.subcategories %}
      		{% if subcategory.subhref contains page.url %} {% capture parent  %}{{ item.href}}{% endcapture %}{% endif %}
      	{% endfor %}
   	{% endif %} 
{% endfor %}

<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
    <button class="menu-toggle fontawesome-reorder" role="button" aria-pressed="false"></button> <ul class="menu">
		 {% for item in site.data.nav %}
          	{% if item.subcategories != null  %} 
          	<li class="dropdown"><a href="{{ item.href | prepend: site.baseurl }}" {% if page.url == item.href or parent == item.href %} class="current-item" {% endif %} >{{ item.title }}</a>
          	  	 <button class="sub-menu-toggle fontawesome-chevron-down" role="button" aria-pressed="false"></button><ul class="dropdown-menu">
	          	{% for subcategory in item.subcategories %}
	          	<li><a href="{{ subcategory.subhref | prepend: site.baseurl }}" {% if page.url == subcategory.subhref %} class="current-item" {% endif %}>{{ subcategory.subtitle }}</a></li>
	          	{% endfor %}
	          	</ul>
          	</li>
          	{% else %}
          	<li><a href="{{ item.href | prepend: site.baseurl }}" {% if page.url == item.href %} class="current-item" {% endif %} >{{ item.title }}</a></li>
          	{% endif %} 
        {% endfor %}
      </ul>
    </nav>
        
    <div class="widget-right">Sign up for <a href="#contact" title="Sign Up for Monthly Legal Tips">Monthly Legal Tips</a></div>

  </div>
  	    {% for item in site.data.nav %}
  	    {% if page.url == item.href or parent == item.href or (page.layout == 'book' and item.href == '/learning-center/book/') %} 
  	     {% if item.subcategories != null  %} 
  	     <div data-top="opacity: 0" data--50-top="opacity: 1" class="sub-nav"><div class="wrapper">
  	       	<nav class="site-sub-nav">
  	       	 <ul class="menu">
  	     
  	    	{% for subcategory in item.subcategories %}
  	    	<li><a href="{{ subcategory.subhref | prepend: site.baseurl }}">{{ subcategory.subtitle }}</a></li>
  	      	 {% endfor %}
  	      	 </ul>
  	      	 </nav>
  	      	 </div>
  	     {% endif %} 
  	      {% endif %} 		
  	    {% endfor %}
  	  </div>

</header>
