/**
 * Site header
 */
.site-header { height: 110px; padding-top: 34px; text-transform: uppercase; position: fixed; width: 100%; background: $background-color; z-index: 1; }

.site-title { text-indent: -9999px; width: 225px; height: 76px; background: url('../images/logo.png'); background-size: 225px 76px; display: block; float: left; }

.site-nav { font-size: 21px; font-weight: 400; text-align: center; float: left; margin: 20px 80px;

	.menu{ margin: 0 auto;} 
	
	li{ display: inline-block; margin: 0 28px; }
	
	a{ color: $black-color; }
	
	a:hover, a.current-item{ color: $link-color;  }
	
}

.widget-right{ float: right; font-size: 16px; text-align: center;
	
	a{ display: block; padding: 12px 16px; border-radius: 6px; background: $link-color; color: $background-color; margin: 6px 0 0;   }
	
	a:hover{ background: $brown-color;  }
 }

.sub-nav{ background: $grey-color;  border-bottom: 1px solid $background-color; padding: 20px 0; text-align: center; margin: 32px 0 0; opacity: 0;  -webkit-transition: opacity .4s ease-in-out; -moz-transition: opacity .4s ease-in-out; -ms-transition: opacity .4s ease-in-out; -o-transition: opacity .4s ease-in-out; transition: opacity .4s ease-in-out; 

	.menu{  margin: 0; }
	
	li{ display: inline-block; padding: 0 28px; font-size: 18px; border-left: 1px solid $text-color; text-transform: none; line-height: 1; }
	
	li:first-child{ border-left: none; }
	
	a{ color: $text-color; }
	
	a:hover{ color: $black-color;  }
	
}



/**
 * Site footer
 */

.social-media a { display: inline-block; width: 60px; height: 60px; background: url('../images/icons.png') no-repeat 11px 11px $link-color; border-radius: 30px; text-indent: -999px; margin-right: 12px;}

.social-media a.twitter{ background-position: -64px 11px; }

.social-media a:hover{ background-color: $brown-color; }

.sub-footer .one-third{
	input[type=text]{ width: 100%; border-radius: 6px; border: 1px solid $grey-color; padding: 20px 40px; margin-bottom: 20px; font-size: $base-font-size; color: $text-color; }
	
	input[type=submit]{ background: $link-color; border-radius: 6px; padding: 20px 40px; color: $background-color; text-transform: uppercase; border: none; font-size: $base-font-size; cursor: pointer;  }
	
	input[type=submit]:hover{ background: $brown-color; }
}

.footer{ background: $grey-color;  padding: 40px 0 90px; font-size: 14px;

	.top{ float: left; }
	
	.top a{ display: inline-block; width: 48px; height: 40px; background: url('../images/top.png') no-repeat center $link-color; border-radius: 6px; text-indent: -999px;  }
	
	.top a:hover{ background-color: $brown-color; }
	
	.creds{ float: right; }

}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 184px 0 40px;
}

.home .page-content{
	padding-top: 144px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title, .page-heading {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 30px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-list{
	h2{ margin-bottom: 0; }
	
	li{ border-bottom: 1px solid $grey-color; padding-bottom: 15px; }
}

/**
 * Columns
 */
.one-third {
    float: left;
    margin-left: 90px;
    width: 340px;
    margin-bottom: 40px;
}

.one-third.first {
    margin-left: 0;
}

/**
 * Home Page
 */
 
 .home .page-content{ padding-bottom: 0; }
 
 .parallax{ padding: 80px 0 0; background: $background-color; }
 
 #home { background: url('../images/bg-home.jpg') no-repeat; background-attachment: fixed;  padding-top: 100px; }
 
 #cost{ background: url('../images/bg-cost.jpg') no-repeat; background-attachment: fixed; }
 
 #other{ background: url('../images/bg-other.jpg') no-repeat; background-attachment: fixed; }
 
 #home, #cost, #other{ background-position: 100% auto; }
 
 .parallax article{  -webkit-transition: opacity .4s ease-in-out; -moz-transition: opacity .4s ease-in-out; -ms-transition: opacity .4s ease-in-out; -o-transition: opacity .4s ease-in-out; transition: opacity .4s ease-in-out; }
 
 .parallax h1 { font-size: 48px; text-align: center; margin: 0 auto 40px; background: url('../images/bg-header.png') no-repeat center;  width: 66%;}
 
 #home{  color: $background-color; text-align: center; font-size: 36px; height: 523px; }
 
 #home h1{ color: $background-color; background: none; font-size: 64px; text-shadow: 1px 1px 1px #4a91b1; text-transform: none; margin: 0 auto;  }
 
 #home a{ display: inline-block; padding: 10px 30px; border: 1px solid $background-color; border-radius: 6px; font-size: 24px;  text-transform: uppercase; margin: 0 15px; color: $background-color; background: rgba(255,255,255,0.25);  font-weight: 500; text-shadow: 1px 1px 1px #4a91b1; }
 
 #home a:hover{ background: $background-color; color: $link-color; text-shadow: none;  }
 
 #attorney{ background: url('../images/bg-attorney.jpg') repeat top center; }
  
 .parallax h2{ font-size: 25px; margin: 0; }
 
 .parallax h3{ font-size: 20px; font-weight: 300; font-style: italic; text-transform: none; }
 
 #benefits { text-align: center; }
 
 #benefits img{ border: none; margin: 0 0 30px; background: $light-brown-color; border-radius: 90px; padding: 30px; }
 
 #benefits p{ text-align: left; }
 
  #attorney h2{ font-size: 35px; text-align: center; margin: 0 0 30px;  }
  
  #attorney img{ float: left;  margin-right: 15px; border: none; }
  
  #attorney .tabs{ position: relative; }
  
  #attorney .tab{ display: none; position: absolute; right: 0; padding: 30px; border-radius: 3px; background: $link-color; width: 380px; color: $background-color; }
  
  #attorney #about-tab{ display: block; }
  
  .attorney-nav{ float: left; margin: 0 30px 0 0;}
  
  .attorney-nav .menu{ margin: 0;}
  
 .attorney-nav li{ list-style: none; padding-right: 9px; }
  
  .attorney-nav li a{ display: block; background: $background-color; color: #6d6e71; text-transform: uppercase; font-size: 20px; padding: 10px 40px; font-weight: 400;}
  
  .attorney-nav li a:hover, .attorney-nav li.on a{ background: $link-color; color: #fff;}
  
  .attorney-nav li.on{ background: url('../images/bg-tab.png') no-repeat right center }
  
  .attorney-nav li:first-child a{ border-radius: 3px 3px 0 0; padding-top: 15px; }
  
  .attorney-nav li:last-child a{ border-radius: 0 0 3px 3px; padding-bottom: 15px; }
  
  /* clearfix */
  .owl-carousel .owl-wrapper:after {
  	content: ".";
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
  }
 
  /* display none until init */
  .owl-carousel{
  	display: none;
  	position: relative;
  	width: 100%;
  	-ms-touch-action: pan-y;
  	margin-bottom: 80px;
  }
  .owl-carousel .owl-wrapper{
  	display: none;
  	position: relative;
  	-webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-carousel .owl-wrapper-outer{
  	overflow: hidden;
  	position: relative;
  	width: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
  	-webkit-transition: height 500ms ease-in-out;
  	-moz-transition: height 500ms ease-in-out;
  	-ms-transition: height 500ms ease-in-out;
  	-o-transition: height 500ms ease-in-out;
  	transition: height 500ms ease-in-out;
  }
  	
  .owl-carousel .owl-item{
  	float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
  	cursor: pointer;
  }
  .owl-controls {
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  /* fix */
  .owl-carousel  .owl-wrapper,
  .owl-carousel  .owl-item{
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility:    hidden;
  	-ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  }
  
  #carousel .item{
	  margin: 0 40px;
	  text-align: center;
	  
  }
  
  #carousel .item p{
  	font-size: 18px;
  	font-style: italic;
  	text-align: left;
  }
  
  #carousel .item h2{
  	font-size: 20px; text-transform: none; font-weight: 400; margin: 0; 
  }
  
  #carousel .item img{ border: none; margin-bottom: 15px; }
  
  .customNavigation{
  	position: relative; top: -580px;
  }
  //use styles below to disable ugly selection
  .customNavigation a{
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  cursor: pointer;
	  position: absolute;
	  width: 60px;
	  height: 68px;
	  background: url('../images/carousel-nav.png') no-repeat 0 4px $link-color;
	  text-indent: -9999px;
	  border-radius: 3px;
  }	
  
  .customNavigation a:hover{ background-color: $brown-color; }
  
  .customNavigation .prev{ left: -40px; }
  
  .customNavigation .next{ right: -40px; background-position: 0 -56px; }
  
  #other .one-third{ background: rgba(255,255,255,0.7); padding: 20px; border-radius: 3px; }
  
  #other a{ font-weight: 400; }
  