<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="book">

    {% include header.html %}

    <div class="page-content">
    <div class="page-header">
    	<div class="wrapper"><header class="post-header">
    	     <h1 class="post-title">{{ page.title }}</h1>
    	   </header>
    	</div>
    </div>
      <div class="wrapper">
      	     {% if page.prev and page.next %}  <nav class="book-nav"><ul class="menu">
      	   <li><a class="prev fontawesome-chevron-left" href="{{ prev | prepend: page.prev }}" title="Previous">Previous Page</a></li>
      	     <li><a class="fontawesome-reorder" href="{{ site.baseurl }}/learning-center/book/" title="Table of Contents">Table of Contents</a></li>
      	    <li><a class="next" href="{{ next | prepend: page.next }}" title="Next">Next Page</a></li></ul></nav>{% endif %}
	      <article class="post-content" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">
	        <div itemprop="text" class="entry-content">
	          {{ content }}
	        </div></article>
	     {% if page.prev and page.next %}  <nav class="book-nav"><ul class="menu">
	     <li><a class="prev fontawesome-chevron-left" href="{{ prev | prepend: page.prev }}" title="Previous">Previous Page</a></li>
	       <li><a class="fontawesome-reorder" href="{{ site.baseurl }}/learning-center/book/" title="Table of Contents">Table of Contents</a></li>
	      <li><a class="next" href="{{ next | prepend: page.next }}" title="Next">Next Page</a></li></ul></nav>{% endif %}
	      
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

